{% extends "layout/checkout.html.twig" %}


{% block content %}
<div class="checkout-page-container">

   <div class="container" >
      <div class="row">
          <div class="col-lg-12" style="margin-bottom:80px;">
              <div class="accordion" id="accordionExample" style="margin-top:40px; ">
                  <div class="card" style="box-shadow: 0 1px 6px 1px rgba(50,69,76,.1);
                  -webkit-border-radius: 4px;
                  border-radius: 4px;">
                    <div class="card-header" id="headingOne" style="background: #fff; padding-top:14px; padding-bottom:14px;">
                      <h3 class="mb-0 card-amount">
                          <span style="">Montant à payer : <span class="price-count-element">63,04 €</span> </span>  
                        <a   type="button" role="button" style="cursor:pointer; font-size:14px; font-weight:600; color: #4183d7; text-decoration:none; position:relative; top:10px;" class="float-right d-none d-lg-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Afficher les détails 
                        </a>
                        <a   type="button" role="button" style="cursor:pointer; font-size:20px; font-weight:600; color: #4183d7; text-decoration:none; position:relative; top:6px;" class="float-right d-block d-lg-none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           <span class="fa fa-angle-down"></span>
                        </a>
                        
                      </h3>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <div style="font-size:13px;">Montant de l'achat : <span class="" style="font-weight:600;">55,00 € HTTC * 12</span></div>  
                          <div tyle="font-size:13px;">Pack donnateur selectioné : <span class="" style="font-weight:600;">Bronze</span></div> 
                          <div tyle="font-size:13px;">TVA : <span class="" style="font-weight:600;">2,20 €</span> </div> 
                        
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion mt-4" id="accordionExample">
                  <div id="stripe-gateway" class="">
                     <a data-toggle="collapse" href="#stripe-gateway-content" role="button" aria-expanded="true" aria-controls="stripe-gateway-content"
                     >
                        <div class="payment-badge">
                           <span class="fa fa-shield-alt" style="font-size:20px; margin-right:5px;color: #4183d7;"></span> 
                           <span style="font-size:14px; margin-right:10px; font-weight:600; color:#313131;">
                              Paiement sécurisé
                           </span> 
                           <span class="card-payement-badges">
                              <img src="{{ asset('images/visa.png')}}" alt="">
                              <img src="{{ asset('images/carte.png')}}" alt="" >
                              <img src="{{ asset('images/mastercard.png')}}" alt="" >
                           </span>
                           <span class="fa fa-angle-down" style="font-size:18px; color:#313131;margin-left:10px;"></span>
                        </div>

                     </a>
                

                     <div id="stripe-gateway-content" class="collapse show" aria-labelledby="stripe-gateway">
                       
                     <form action="" method="POST" class="mt-4">
                        <div class="form-row">
                           <div class="col-lg-6 col-12 mb-3">
                              <label for="">Numéro de carte</label>
                              <div id="card-number-element" class="field"></div>
                           </div>
                           <div class="col-lg-6 col-12 input-element-right mb-3">
                              <label for="cardUser">Titulaire de la carte</label>
                              <input type="text" class="field" name="cardUser" placeholder="Nom écrit sur la carte" autocomplete='off'>
                           </div>
                           <div class="col-lg-6 col-12 mb-3">
                              <label for="">Date d'expiration</label>
                              <div id="card-expiry-element" class="field"></div>
                           </div>
                           <div class="col-lg-6 col-12 input-element-right mb-3">
                              <label for="">Cryptogramme</label>
                              <div id="card-cvc-element" class="field"></div>
                           </div>
                        </div>
                        <input type="hidden" name="token" />

                     <div class="outcome">
                        <div class="error"></div>
                        <div class="success">
                        Success! Your Stripe token is <span class="token"></span>
                        </div>
                     </div>
                     </form>

                     <div style="font-size:13px; color: #8191a0; margin-top:18px;font-weight:400;">
                        En cliquant sur payer, j’accepte les Conditions Générales d’Utilisation.
                     </div>

                     <div style="margin-top:18px; margin-bottom:18px;">
                        <button type="submit" class="btn stripe-submit-btn" style="">Payer 63,04 € </button>
                     </div>

                     </div>
                  </div>

                  <div id="paypal-gateway" class="mt-5">
                     <a class="" data-toggle="collapse" href="#paypal-gateway-content" role="button" aria-expanded="true" aria-controls="paypal-gateway-content">
                        <div class="payment-badge">
                           <span class="fa fa-shield-alt" style="font-size:20px; margin-right:5px;color: #4183d7;"></span> 
                           <span style="font-size:14px; margin-right:10px; font-weight:600; color:#313131;">
                              Paiement sécurisé
                           </span> 
                           <span class="card-payement-badges">
                              <img src="{{ asset('images/paypal.jpg')}}" alt="" style="width:50px;">
   
                           </span>
                           <span class="fa fa-angle-down" style="font-size:18px; color:#313131;margin-left:10px;"></span>
                        </div>
                     </a>
                  </div>
                  <div id="paypal-gateway-content" class="collapse" aria-labelledby="paypal-gateway">
                     <div id="paypal-button-container" class="mt-5"></div>
                  </div>

                </div>




               


               <div class="mt-3">
                  <p style="font-size:12px; color: #8191a0; font-weight:400; width:100%;">
                     Vous êtes sur un serveur de paiement sécurisé par les normes ssl (https) et pcidss de nos partenaires bancaires. Vos données sont encryptées pour plus de sécurité.
                  </p> 
               </div>

               <div style="margin-top:25px;font-size:12px; color: #8191a0;font-weight:400;"><span class="fa fa-info-circle" style="font-size: 18px; color: #00b8b1; margin-right:10px; "></span>Consultez les informations légales liées au paiement</div>




               

          </div>
          
      </div>
  </div>

</div>

{% endblock %}

{% block javascript%}
<script>

   /***********************************
   srtipe pay button
   ***********************************/
   var stripe = Stripe('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
   var elements = stripe.elements();

   var style = {
   base: {
      iconColor: '#000',
      color: 'rgb(129, 145, 160)',
      lineHeight: '22px',
      fontSize: '14px',

      '::placeholder': {
         color: 'rgb(129, 145, 160)',
         paddingTop: '10px;',
      },
   },
      invalid: {
         color: '#fa755a',
         iconColor: '#fa755a'
      }
   };

   var cardNumberElement = elements.create('cardNumber', {
   style: style,
   placeholder: '',
   });
   cardNumberElement.mount('#card-number-element');

   var cardExpiryElement = elements.create('cardExpiry', {
   style: style,
   placeholder: 'MM/AA',
   });
   cardExpiryElement.mount('#card-expiry-element');

   var cardCvcElement = elements.create('cardCvc', {
   style: style,
   placeholder: 'Exemple: 123',
   });
   cardCvcElement.mount('#card-cvc-element');


   function setOutcome(result) {
   var successElement = document.querySelector('.success');
   var errorElement = document.querySelector('.error');
   successElement.classList.remove('visible');
   errorElement.classList.remove('visible');

   if (result.token) {
      // In this example, we're simply displaying the token
      successElement.querySelector('.token').textContent = result.token.id;
      successElement.classList.add('visible');

      // In a real integration, you'd submit the form with the token to your backend server
      //var form = document.querySelector('form');
      //form.querySelector('input[name="token"]').setAttribute('value', result.token.id);
      //form.submit();
   } else if (result.error) {
      errorElement.textContent = result.error.message;
      errorElement.classList.add('visible');
   }
   }

   cardNumberElement.on('change', function(event) {
   setOutcome(event);
   });

   document.querySelector('form').addEventListener('submit', function(e) {
   e.preventDefault();
   var options = {
      address_zip: document.getElementById('postal-code').value,
   };
   stripe.createToken(cardNumberElement, options).then(setOutcome);
   });


   /***********************************
   paypal pay button sdk
   ***********************************/
   paypal.Buttons({
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '0.01'
            }
          }]
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
          alert('Transaction completed by ' + details.payer.name.given_name);
        });
      }
    }).render('#paypal-button-container'); // Display payment options on your web page






</script>
    

{% endblock %}