{% extends "layout/base.html.twig" %}
{% block content %}
<style>

</style>
        <div class="page-margin-modif">
            <div class="container">
                <div class="row">
                    <div class="col-12" style="margin-bottom:140px; margin-top:80px;">
                        <div class="text-center">
                            <h2 class="blog-heading heading heading--2 section-v3__heading " style="font-size:22px; margin-bottom:10px;">
                                Mentions Légals
                            </h2>
                           
                        </div>

                            <div class="card" style="">
                              <div class="card-header" id="headingOne" style="background: #fff; border-bottom:1px solid rgba(128,128,128,.2);">
                                <div class="mb-0">
                                    <span class="accordion-title">Avertissement</span>
                              
                                </div>
                              </div>
                              <div class="card-body">
                                <p>
                                    Vous déclarez que vous êtes une personne physique résidente dans un Etat membre de l’Union Européenne ou dans un Etat partie à l’Espace Economique européen ou dans un pays tiers imposant des obligations équivalentes en termes de lutte contre le blanchiment de capitaux et le financement du terrorisme étant rappelé que rien n’interdit à la personne physique d’agir (i) en son nom et pour son compte ou (ii) en son nom et pour le compte d’une personne morale, y compris une association inscrite au répertoire national des associations ou à un registre étranger équivalent, même si dans cette dernière hypothèse, la personne physique est le seul contractant de Leetchi qui demeure.

                                   

                                
                                </p>
                              </div>
    
                             </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div>


{% endblock %}


{% block javascript%}

{% endblock %}