{% extends "layout/base.html.twig " %}
    {% block content %}
<style>
    .login-box{
        margin:auto;
        width:450px;
        margin-top:130px;
        margin-bottom: 150px;
    }

    @media only screen and (max-width: 539px)
    {
        .login-box{
            margin:auto;
            width:100%;
            margin-top:150px;
        }
    
        .login-logo a {
            font-size: 16px;

        }
    }

    @media only screen and (max-width: 479px)
    {
        .login-box{
            margin-top:130px;
        }  
    }
    
    /************
    14. 400px
    ************/
    
    @media only screen and (max-width: 400px)
    {
        .login-box{
            margin-top:50px;
        }      
    }



    .register-box {
        width: 100%;
        

    }

    .login-logo, .register-logo {
        font-size: 2.1rem;
        font-weight: 300;
        margin-bottom: .9rem;
        text-align: center;
    }
    .login-logo a, .register-logo a {
        color: #495057;
    }
    .card {
       border-radius: 8px;
       box-shadow: 0 1px 12px 1px rgba(50,69,76,.1);
       margin-bottom: 1rem;
       border: transparent;
    }

    .login-card-body, .register-card-body {
        background: #fff;
        border-top: 0;
        color: #666;
        padding: 20px;
    }
    .login-box-msg, .register-box-msg {
        margin: 0;
        padding: 0 20px 20px;
        text-align: center;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }


  

    .btn.orange-border:hover, .btn.gradient-bg {
        border-color: transparent;
        background: #00c292;
        color: #fff;
        width:100%;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        box-shadow: 0 1px 12px 1px rgba(50,69,76,.1);

    }



</style>
<div class="login-box container">
    <div class="col-12">
        <div class="login-logo">
            <a href="../../index2.html"><b>Association </b>Colombes</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form action="" method="post">
                <div class=" mb-3">
                <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Member id">
            
                </div>

            </form>

            <div class="social-auth-links text-center mb-3" style="margin-top:30px;">
                <a href="/fund/" class="btn gradient-bg mr-2" style="border-radius:30px;">Se connecter</a>
            </div>
            <!-- /.social-auth-links -->

            
            </div>
            <!-- /.login-card-body -->
        </div> 
    </div>
</div>
{% endblock %}

{% block javascript%}

{% endblock %}